*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    /* background-color: #ffffff; */
}

button{
    cursor: pointer;
}

nav{
    width: 7rem;
    height: 100vh;
    background: none;
    border-right: 1px solid rgba(105, 105, 105, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.header{
    font-size: 1.4rem;
}

.addButton{
    margin-top: 2rem;
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background: black;
    color: #fff;
    font-size: 1.6rem;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out; 
}

.addButton i{
    transition: 0.5s ease;
}

.colorSlider{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorDiv{
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: scale 0.5s ease-in-out;
    position: absolute;
    top: -2rem;
}

.colorDiv:hover{
    scale: 1.5;
}

.red{
    background-color: #f69679;
}

.orange{
    background-color: #fdc689;
}

.green{
    background-color: #82ca9c;
}

.blue{
    background-color: #6dcff6;
}

.purple{
    background-color: #8393ca;
}


.mainContainer{
    padding-top: 2rem;
    padding-left: 2rem;
    width: 100%;
    height: 100vh;
  
}

.noteContainer{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 25rem 25rem 25rem 25rem;
    row-gap:  5rem;
}

.notesText{
    font-size: 2rem;
}

.note{
    width: 20rem;
    height: 20rem;
    background-color: red;
    border-radius: 1rem;
    font-size: 0.9rem;
    padding: 1.5rem;
    position: relative;
    transition: 0.5s ease;
    overflow-y: hidden;
}

.note p{
    outline: none;
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
}

.note::-webkit-scrollbar{
    width: 0.4rem;
    height: 1rem;
    position: absolute;
}

.note::-webkit-scrollbar-track {
    margin-top: 1rem;
    background: none;
}

.note::-webkit-scrollbar-thumb{
    background-color: rgb(91, 91, 91);
}

.note:hover{
    scale: 1.05;
    overflow-y: auto;
}

.note:hover > .deleteButton{
    opacity: 1;
}

.deleteButton, .editButton{
    background-color: black;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    border: none;
    color: #fff;
}

.editButton{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    transition: 0.4s ease;
}

.editButton:hover{
    scale: 1.2;
}

.deleteButton{
    position: absolute;
    right: 1rem;
    opacity: 0;
    transition: 0.4s ease;
    top: 1rem;
}

.deleteButton:hover{
    color: red;
    scale: 1.2;
}

.inputStyle{
    width: 20rem;
    height: 20rem;
    /* background: none; */
    border: none;
    outline: none;
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: calc(100% - 0.9rem);
    white-space: normal;
}
